body {
  background-color: #f8f9fa;
  padding: 5vh 10vw;
}

h1, h2, h3 {
  text-align: center;
  margin: 40px auto 20px;
}

/***********************************************/
/************** CAROUSEL Styles ****************/
/***********************************************/
.carousel {
  margin-top: 4%;
}

.carousel-item img {
  height: 50vh;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg class='' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath d='M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z'%3E%3C/path%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg class='' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath d='M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z'%3E%3C/path%3E%3C/svg%3E");
}

.carousel-indicators {
  margin-bottom: -35px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 8px;
  margin-left: 8px;
}

/***********************************************/
/*************** ALBUM Styles ******************/
/***********************************************/
.album {
  margin-top: 20vh;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.textoAlbum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: #f8f9fa;
  font-size: 30px;
}

.shadow-sm, .card {
  background-color: #f8f9fa;
  border-radius: 20px;
}

.card img {
  border-radius: 20px;
}

.card:hover {
  opacity: 0.5;
}

/***********************************************/
/*************** QUIENES SOMOS Styles **********/
/***********************************************/


.nosotros {
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
  padding: 2% 5%;
  width: auto;
  height: auto;
  display: block;
  position: relative;
  text-align: justify;
}

.nosotros::after {
  content: "";
  background-image: url("../images/img_nitram.jpg");
  background-repeat: repeat;
  /* background-size: cover; */
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/***********************************************/
/*************** MEDIA Styles ******************/
/***********************************************/
@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }
}
